# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
env/

# ==========================================
# Environment
# ==========================================

.env
.env.local

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db
desktop.ini

# ==========================================
# Python tools
# ==========================================

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ==========================================
# Dataset
# ==========================================

datasets/
datasets_raw/
data/raw/

# ==========================================
# ML artifacts
# ==========================================

runs/
wandb/

*.pt
*.pth
*.onnx
*.engine
*.torchscript

models/*
!models/.gitkeep

artifacts/*
!artifacts/.gitkeep

# ==========================================
# Logs
# ==========================================

*.log
logs/

# ==========================================
# Temporary
# ==========================================

tmp/
temp/
*.tmp

datasets_generated/
